
h1{
    color: rgb(0, 255, 13);
    background-color: black;
}
h2{
    color: rgb(0, 255, 21);
    background-color: black;
}
#descricao{
    color: rgb(0, 255, 13);
    background-color: black;
}
#descricao2{
    color: rgb(217, 255, 0);
    background-color: black;
}
body {
    background-color: rgba(0, 0, 0, 0.87);
}
#verifique-suas-respostas{
    color: rgb(0, 255, 13);
    background-color: black;
}
#sumario{
    color: rgb(255, 238, 0);
    background-color: black;
}
#respostas{
    color: rgb(255, 0, 221);
}